* {
  font-family: work_sansregular;
}

.navbar-text {
  color: rgb(250, 250, 250);
}

.navbar-brand {
  color: rgb(250, 250, 250);
  font-family: lobsterregular;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: rgb(250, 250, 250);
  font-family: lobsterregular;
}

.site-header-logo h1 {
  color: rgb(39, 147, 248);
  font-family: lobsterregular;
  font-size: 3rem;
  margin-top: 2rem;
}

.anchor-marker {
  width: 10px;
  height: 10px;
  background-color: red;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 2;
}

.boat-marker {
  width: 20px;
  height: 20px;
  background-color: blue;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 3;
}

.relevant-position-marker {
  width: 5px;
  height: 5px;
  background-color: yellow;
  border: 0px solid white;
  border-radius: 50%;
  z-index: 1;
}

.bi-clock {
    color: white;
}

.bi-bootstrap-reboot {
    color: white;
}

/* Apply Bootstrap classes to the active nav-link */
.nav-item .nav-link.active {
  background-color: #6c757d; /* Bootstrap's bg-secondary */
  color: #fff; /* Bootstrap's text-light */
}

#map-container {
  position: relative;
}

#anchor-map {
  width: 100%;
  height: 328px;
}

#map-button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}