[metadata]
project_name = "Example"
project_version = 1.0.0
project_description = ""
default_prompt = "Who invented Python?"

# You should make a .env file to store you credentials
# and provide it's path here
dotenv_path = "/home/azureuser/cloudfiles/code/.env"

# Make a folder to output the project to
# and place the path here
output_path = ""


[database]
db_name = "example"
db_type = "sql"
data_dictionary_path = "./"



[project]
# Fleet will provide documentation explaining 
# the problem
write_documentation = True
use_ml = False



[steps]
steps = [
     "step1",
     "step2",
     "step3"
    ]